.createheader {
    font-size: 50px;
    color: rgb(191, 118, 91);
    padding: 30px;
}

.form {
    border-radius: 50px;
    margin: 5px;
}

.container {
    margin:20px;
}

.button {
    margin-left: 10px;
}

.input {
    margin-left: 3px;
}

.actcontainer {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    margin-top: 20px;
    background: rgb(196, 196, 196)

}

.activity {
    width: 120px;
    height: 120px;
    font-size: 25px;
    padding: 10px;
    font-size: 23px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgb(44, 40, 57);
    box-shadow: 10px 5px 5px rgb(44, 46, 77);
    color: white;
    margin: 10px;
}