.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50px;
    margin-right: 400px;
    margin-top: 150px;
}

.setname {
    width: 400px;
    height: 50px;
}

.setgoal {
    width: 400px;  
    margin-bottom: 200px;
    height: 50px;
}

.button {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 370px;
    right: 550px;
}

.header {
    position: absolute;
    top: 100px;
    left: 800px;
    font-size: 50px;
}