@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-image: url("fitnesshomepage.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    font-family: 'Oswald', sans-serif;
}