.container {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    margin-top: 20px;
    background: rgb(196, 196, 196);
}

.post {
    color: black;
    padding: 10px;
    font-size: 23px;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgb(44, 40, 57);
    box-shadow: 10px 5px 5px rgb(44, 46, 77);
    color: white;
    margin: 10px;

}

.button {
    font-size: 15px;
    margin-top: 10px;
}

.name {
    border-bottom: 2px solid white;
}